/venv
.env
/lang-portal/backend-flask/words.db
/typing-tutor/words.db
/lang-portal/backend-flask/routes/__pycache__/
/lang-portal/backend-flask/lib/
/lang-portal/frontend-react/node_modules
/lang-portal/backend-flask/__pycache__
*.mp3
/listening-comp/backend/backend/data/vectorstore/**
/listening-comp/backend/__pycache__
/writing-practice/__pycache__
/writing-practice/.streamlit
/vocabulary-practice/__pycache__/
/vocabulary-practice/log.txt
/song-agent/__pycache__
# /song-agent/songs/*
themes/__pycache__
speaking-practice/__pycache__
