aiohttp==3.11.11
boto3==1.36.21
Flask==3.1.0
Flask_Cors==5.0.0
gTTS==2.5.4
html2text==2024.2.26
invoke==2.2.0
openai==0.27.8
pandas==2.2.3
pydub==0.25.1
python-dotenv==1.0.1
Requests==2.32.3
setuptools==76.0.0
sseclient_py==1.8.0
streamlit==1.42.2
youtube_transcript_api==1.0.1
duckduckgo_search==7.5.0
chromadb==0.6.3
